.wrapper {
  padding: 100px;
  height: 100%;
}
.gridbox {
  border: 10px solid black;
}

.gridbox_items {
  font-size: 3em;
  text-align: center;
  padding: 50px;
  border: 5px dashed red;
}

.gridbox {
  display: grid;
  grid-template: auto auto / auto auto minmax(100px, 200px) auto auto;
}