.wrapper {
  padding: 100px 100px 30vh;
  margin: 100vh;
}

.block {
  height: 100%;
  box-shadow: 0 0 10px #535353;
  border-radius: 5px;
}

/* .text {
  padding: 25px 25px 0px;
  max-height: 100px;
  max-width: 50%;
  overflow: auto;
} */

/* .wrapper {
  padding: 100px 100px 30vh;
  height: 100vh;
}

.block {
  height: 100%;
  box-shadow: 0 0 10px rgb(83, 83, 83);
  border-radius: 5px;
} */