.text--bold {
  color: red;
}

/* обращение к классу child можно сделать разными способоми */
/* через прямое общанеие к классу */
.child {
  color: blue;
}

/* обратится к конкретному div с конкретным классом */
div.child {
  color: blue;
}

/* еще можно обратиться как к прямому потомку первого уровня класса parent */

.parent>.child {
  color: blue;
}

/* Это строгий метод, стили которого будут дейтсвовать только на те теги которые указывают на конкретно заданную ссылку */

a[href="#blog"] {
  text-decoration: none;
  color: black;
}