@media (max-width: 1550px) {
  .header {
    font-size: 14px !important;
    &__top {
      .header__nav {
        gap: 70px;
        &-list{
          gap: 124px;
        }
      }
      padding: 30px 50px 170px !important;
      .header__logo {
        max-width: 183px;
      }
      .call {
        order: 1;
      }
      .search {
        order: 3;
        margin: 0 !important;
      }
      .heart {
        order: 2;
        margin: 0 54px 0 30px;
      }
      .header__nav-item .city ::after,
      .header__nav-item .city ::before,
      .header__nav-item .call svg {
        top: 1px;
      }
    }
    &__body {
      .header__main {
        gap: 148px;
      }
      .header__content {
        .header__title {
          font-size: 56px !important;
        }
        .header__text {
          font-size: 22px !important;
        }
      }
    }
  }
  .menu__inner {
    font-size: 14px;
    padding: 20px 50px;
    .menu__logo {
      max-width: 183px;
    }
    .menu__nav-list {
      :nth-child(2) {
        gap: 20px;
      }
    }
    .menu__nav-item .city {
      margin-right: 37px;
      ::after,
      ::before {
        top: 1px;
        right: -20px;
      }
    }
    .catalog {
      padding: 11px 20px;
      margin-right: 13px;
    }
    .quick-picks {
      padding: 11px 20px;
    }
    .heart {
      margin-right: 24px;
    }
  }
  .abaut {
    &__inner {
      gap: 53px !important;
    }
    &__title {
      font-size: 32px !important;
    }
    &__item {
      max-width: 295px !important;
    }
    &__item-text {
      font-size: 14px;
    }
  }
  .popular {
    &__inner {
      gap: 50px !important;
      .popular__title {
        font-size: 36px;
      }
      .popular__item {
        max-width: 407px;
      }
    }
  }
  .services {
    &__inner {
      .services__title {
        font-size: 36px;
        margin-bottom: 50px;
      }
      .services__offer {
        margin-bottom: 50px;
      }
      .services__item {
        max-width: 407px;
      }
      .services__text {
        font-size: 14px;
      }
    }
  }
  .faq {
    &__inner {
      gap: 50px !important;
      .faq__title {
        font-size: 36px;
      }
      .faq__text {
        font-size: 14px;
      }
    }
  }
  .application {
    &__inner {
      .application__title {
        font-size: 36px;
      }
    }
  }
  .footer {
    &__inner {
      .footer__logos {
        max-width: 183px;
      }
      .footer__catalog-link,
      .footer__privacy-policy,
      .footer__agre,
      .footer__info-link,
      .footer__contacts-tel {
        font-size: 14px;
      }
    }
  }
}
