@media (max-width: 1180px) {
  .header__selection {
    display: none;
  }
  .header__content {
    justify-content: center;
  }
  .header__caption {
    text-align: center;
    align-items: center;
  }
  .header__nav-list {
    padding-top: 120px;
  }
  .header__slider-wrapper {
    left: 30px;
  }
  .header__social {
    justify-content: center;
  }
  .abaut .abaut__inner {
    align-items: center;
    .abaut__list {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    .abaut__item {
      align-items: center;
      text-align: center;
    }
  }
  .popular__inner {
    align-items: center;
  }
  .popular__house .popular__list {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    .popular__price-subtitle {
      font-size: 16px !important;
    }
  }

  .services__content {
    align-items: center;
  }
  .services__offer .services__list {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
  .services__inner .services__item {
    min-width: 325px;
  }
  .faq__inner .faq__title {
    font-size: 30px;
  }
  .faq__link  .faq__subtitle {
    font-size: 18px;
  }

  .footer .footer__inner {
    flex-direction: column;
    gap: 25px;
    align-items: center;
    position: relative;
    padding-bottom: 57px;
    .footer__logo {
      align-items: center;
      text-align: center;
      .footer__privacy {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .footer__contacts {
      align-items: center;
      gap: 25px;
    }
  }
  .footer__catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer__catalog-title--slider {
      cursor: pointer;
      pointer-events: auto;
      margin-bottom: 0;
    }
    .footer__catalog-list {
      margin-top: 17px;
      display: none;
      .footer__catalog-item {
        text-align: center;
        margin-bottom: 12px;
      }
      .footer__catalog-item:last-child {
        margin-bottom: 0;
      }
    }
  }
  .popup__body--search {
    min-width: 700px !important;
    .search__row  {
      min-width: 390px;
    }
  }
}
