@media (max-width: 1470px) {
  @import "burger";
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.35);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  .overlay--active {
    visibility: visible;
    opacity: 1;
  }
  .header__nav {
    justify-content: end !important;
  }
  .header__nav-list{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #161723;
    z-index: 5;
    max-width: 425px;
    padding: 29px 20px 82px;
    transform: translateX(100%);
    transition: all 0.3s;
    flex-direction: column;
  }
  .header__nav-list--open {
    transform: translateX(0%);
  }
  .header__nav-list {
    padding-top: 200px; 
    .header__nav-item {
      flex-direction: column;
      align-items: center;
    }
    .catalog,
    .heart,
    .search {
      display: none;
    }
    .city {
      margin-right: 0 !important;
      margin-bottom: 34px;
    }
    .info {
      display: block !important;
      padding: 8px 54px 11px 53px;
      border: 1px solid #c0c2d7;
      border-radius: 200px;
      margin-bottom: 12px;
    }
    .field-service {
      display: block !important;
      padding: 8px 15px 11px;
      border: 1px solid #c0c2d7;
      border-radius: 200px;
      margin-bottom: 12px;
    }
    .selection {
      display: block !important;
      padding: 9px 83px 10px;
      background: #f4683f;
      border-radius: 200px;
      margin-bottom: 40px;
    }
    :nth-child(2) {
      gap: 12px !important;
      font-size: 16px;
      color: #c0c2d7;
    }
    .call {
    }
  }
  .header__body .header__main {
    gap: 40px;
    justify-content: center;
  }
  .menu__nav {
    justify-content: end !important;
    &-list {
      display: none;
    }
    &-connect {
      margin-right: 15px;
    }
    .call {
      display: block !important;
      margin-right: 15px;
      .call-big {
        display: none;
      }
      .call-mini {
        position: relative;
        top: 6px;
      }
    }
  }

  .popular {
    &__place,
    &__price-subtitle {
      font-size: 18px !important;
    }
    &__criteria-text,
    &__price-btn {
      font-size: 14px !important;
    }
  }
}
