.social__link path {
  transition: all 0.3s;
}
.youtube:hover path {
  fill: #fff;
}
.instagram:hover path {
  fill: #fff;
}
.vk:hover path {
  fill: #fff;
}
.whatsapp:hover path {
  fill: #fff;
}
.telegram:hover path {
  fill: #fff;
}


