@import "reset";
@import "fonts";

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #e5e5e51d;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  min-height: 950px;
  background: url("../images/header/bg.jpg") no-repeat;
  // clip-path: matrix(-1, 0, 0, 1, 0, 0);
  color: #fff;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  &__top {
    padding: 42px 60px 140px;
    display: flex;
    gap: 62px;
  }

  &__nav {
    width: 100%;
    &-list {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      :nth-child(2) {
        gap: 30px;
      }
    }
    &-item {
      display: flex;
      .city {
        margin-right: 43px;
        align-self: center;
        position: relative;
        ::before {
          content: "";
          display: block;
          position: absolute;
          top: 4px;
          left: -22px;
          width: 18px;
          height: 18px;
          background: url("../images/header/map-locator\ 1.svg");
        }
        ::after {
          content: "";
          display: block;
          position: absolute;
          top: 5px;
          right: -22px;
          width: 20px;
          height: 20px;
          background: url("../images/header/menu_black/arrow_down_white.svg");
        }
      }
      .catalog {
        padding: 8px 30px 10px;
        border: 1px solid #fff;
        border-radius: 200px;
      }
      .search {
        margin: 0 56px 0 62px;
        align-self: center;
        position: relative;
        ::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: -32px;
          width: 24px;
          height: 24px;
          background: url("../images/header/menu_black/icon_search_white.svg");
        }
      }

      .call {
        align-self: center;
        position: relative;
        ::before {
          content: "";
          display: block;
          position: absolute;
          top: 5px;
          left: -27px;
          width: 20px;
          height: 20px;
          background: url("../images/header/menu_black/icon_call.svg");
        }
      }
    }
  }

  &__body {
    &-inner {
      display: flex;
      flex-direction: column;
      gap: 100px;
    }
  }
  &__main {
    display: flex;
    gap: 280px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 91px;
  }
  .header__caption {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .header__title {
      font-family: "Raleway";
      font-weight: 800;
      font-size: 60px;
      line-height: 140%;
      letter-spacing: 0.02em;
      max-width: 680px;
    }
    .header__text {
      font-size: 25px;
      max-width: 470px;
    }
  }
  .header__slider-wrapper {
    position: relative;
  }
  .header__slider-prev {
    position: absolute;
    top: 15px;
    left: -65px;
    transform: translate(50%, 50%);
  }
  .header__slider-next {
    position: absolute;
    top: 15px;
    right: 25px;
    transform: translate(50%, 50%);
  }
  .header__slider {
    max-width: 620px;
    .slick-list {
      margin: 0 -15px;
    }
  }
  .header__slide {
    padding: 0 10px;
  }
  .slide__img {
    position: relative;

    height: 100px;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
  }
  .slide__text {
    margin-top: 14px;
    text-align: center;
  }
  .header__selection {
    width: 360px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
  }
  &__row {
    .header__social {
      display: flex;
      gap: 22px;
      align-items: center;
    }
  }
  .social__item {
  }
  .social__link {
  }
  .youtube {
  }
  .instagram {
  }
  .vk {
  }
  .whatsapp {
  }
  .telegram {
  }
}

.main {
  font-family: "Montserrat";
  font-weight: 600;
  color: #333;
  line-height: 150%;
}
.abaut {
  padding: 200px 0;
  line-height: 160%;
  position: relative;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 73px;
    .abaut__title {
      font-family: "Raleway";
      font-weight: 800;
      font-size: 40px;
      line-height: 150%;
    }
    .abaut__list {
      display: flex;
      gap: 60px;
      .abaut__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 331px;
        .abaut__item-img {
        }
        .abaut__item-text {
        }
      }
    }
  }
  &__bg img {
    position: absolute;
    top: -130px;
    right: -55px;
    z-index: -1;
  }
}

.popular {
  padding-bottom: 200px;
}
.popular__inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.popular__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 40px;
  line-height: 150%;
}
.popular__house {
}
.popular__list {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 40px;
}
.popular__item {
  background: #ffffff;
  box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
  border-radius: 20px;
}
.popular_item-images {
  position: relative;
  color: #727488;
}
.popular__img {
  border-radius: 20px 20px 0px 0px;
}
.popular__people {
  position: absolute;
  top: 24px;
  right: 20px;
  background: #fff;
  border-radius: 150px;
  padding: 10px 11px 10px 36px;
  ::before {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: 13px;
    width: 20px;
    height: 20px;
    background: url("../images/popular/popular_icons/icon_tenants.svg")
      no-repeat;
  }
}
.popular__like {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px rgba(21, 22, 34, 0.2);
  border-radius: 200px;
  span {
    position: absolute;
    top: 13px;
    left: 12px;
    width: 26px;
    height: 26px;
    background: url("../images/popular/popular_icons/icon_heart_black.svg")
      no-repeat;
  }
}
.popular_item-info {
  padding: 30px 30px 40px;
}
.popular__place {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 16px;
}
.popular__criteria {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 27px;
}
.popular__criteria-item {
  position: relative;
}
.popular__criteria-img {
  position: absolute;
  top: 0;
  left: 0;
}
.popular__criteria-text {
  padding-left: 35px;
  color: #727488;
}
.popular__price {
  display: flex;
  justify-content: space-between;
}
.popular__price-subtitle {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 22px;
}
.popular__price-btn {
  color: #f4683f;
}
.popular__btn {
  align-self: center;
}
.btn__catalog {
  font-size: 18px;
  padding: 14px 50px 14px;
  color: #fff;
  background: #f4683f;
  border-radius: 200px;
}

.services {
  padding-bottom: 250px;
  position: relative;
}
.services__inner {
}
.services__content {
  display: flex;
  flex-direction: column;
}

.services__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 80px;
}
.services__offer {
  margin-bottom: 60px;
}
.services__list {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 40px;
}
.services__item {
  display: flex;
  align-items: center;
  position: relative;
  width: 440px;
  height: 130px;
  background-color: #fff;
  box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
  border-radius: 20px;
}
.services__img {
  position: absolute;
  top: 46px;
  right: 352px;
}
.services__text {
  padding-left: 110px;
  font-size: 18px;
}
.services__btn {
  align-self: center;
}
.btn__more {
  font-size: 18px;
  padding: 14px 51px 14px;
  color: #fff;
  background: #f4683f;
  border-radius: 200px;
}

.services__bg {
  position: absolute;
  top: -150px;
  right: 0px;
  z-index: -1;
}
