@font-face {
  font-family: TTFirsNeue;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("TT Firs Neue"),
    url("../fonts/TTFirsNeue-Medium.woff2") format('woff2'),
    url("../fonts/TTFirsNeue-Medium.woff") format('woff'),
    url("../fonts/TTFirsNeue-Medium.eot") format('eot');
}
