* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: normal;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: normal;
  src: local("Montserrat Semi Bolt"), local("Montserrat-SemiBolt"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-size: normal;
  src: local("Raleway Bolt"), local("Raleway-Bolt"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-size: normal;
  src: local("Raleway Extra Bolt"), local("Raleway-ExtraBolt"), url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
  font-display: swap;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.header__selection-filter {
  margin-bottom: 85px;
}

.noUi-target {
  background: #808080;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 2px;
}

.noUi-connect {
  background: #808080;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.noUi-handle {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 200px;
  background: #f4683f;
}

.noUi-horizontal .noUi-handle {
  width: 8px;
  height: 23px;
  top: -10px;
}

.noUi-horizontal .noUi-handle-upper {
  right: -1px;
}

.noUi-horizontal .noUi-handle-lower {
  right: -7px;
}

.noUi-tooltip {
  border: none;
  background: none;
  padding: 0;
}

.noUi-horizontal .noUi-tooltip {
  bottom: -170%;
}

.social__link path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.youtube:hover path {
  fill: #fff;
}

.instagram:hover path {
  fill: #fff;
}

.vk:hover path {
  fill: #fff;
}

.whatsapp:hover path {
  fill: #fff;
}

.telegram:hover path {
  fill: #fff;
}

.menu__fixed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #e5e5e5;
  width: 100%;
  z-index: 4;
}

.menu__fixed--active {
  display: block;
}

.menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 60px;
  gap: 62px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
.menu__inner .menu__logo {
  -ms-flex-item-align: center;
      align-self: center;
}
.menu__inner .menu__logo img {
  width: 100%;
}

.menu__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__nav-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 200px;
}
.menu__nav-list :nth-child(2) {
  gap: 30px;
}
.menu__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__nav-item .city {
  margin-right: 43px;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}
.menu__nav-item .city ::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: -22px;
  width: 18px;
  height: 18px;
  background: url("../images/header/map-locator 1.svg");
}
.menu__nav-item .city ::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  right: -22px;
  width: 20px;
  height: 20px;
  background: url("../images/header/menu_white/arrow_down_black.svg");
}
.menu__nav-item .catalog {
  color: #fff;
  padding: 9px 30px;
  background: #f4683f;
  border-radius: 200px;
  margin-right: 20px;
}
.menu__nav-item .quick-picks {
  padding: 9px 22px;
  border-radius: 200px;
  border: 1px solid black;
}
.menu__nav .menu__nav-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__nav .menu__nav-connect .call {
  display: none;
}
.menu__nav .menu__nav-connect .heart {
  margin-right: 34px;
}
.menu__nav .menu__nav-connect .heart svg {
  position: relative;
  top: 3px;
}
.menu__nav .menu__nav-connect .menu__svg {
  position: relative;
  top: 5px;
}
.menu__nav-link {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.menu__nav-link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1550px) {
  .header {
    font-size: 14px !important;
  }
  .header__top {
    padding: 30px 50px 170px !important;
  }
  .header__top .header__nav {
    gap: 70px;
  }
  .header__top .header__nav-list {
    gap: 124px;
  }
  .header__top .header__logo {
    max-width: 183px;
  }
  .header__top .call {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__top .search {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 !important;
  }
  .header__top .heart {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 54px 0 30px;
  }
  .header__top .header__nav-item .city ::after,
  .header__top .header__nav-item .city ::before,
  .header__top .header__nav-item .call svg {
    top: 1px;
  }
  .header__body .header__main {
    gap: 148px;
  }
  .header__body .header__content .header__title {
    font-size: 56px !important;
  }
  .header__body .header__content .header__text {
    font-size: 22px !important;
  }
  .menu__inner {
    font-size: 14px;
    padding: 20px 50px;
  }
  .menu__inner .menu__logo {
    max-width: 183px;
  }
  .menu__inner .menu__nav-list :nth-child(2) {
    gap: 20px;
  }
  .menu__inner .menu__nav-item .city {
    margin-right: 37px;
  }
  .menu__inner .menu__nav-item .city ::after,
  .menu__inner .menu__nav-item .city ::before {
    top: 1px;
    right: -20px;
  }
  .menu__inner .catalog {
    padding: 11px 20px;
    margin-right: 13px;
  }
  .menu__inner .quick-picks {
    padding: 11px 20px;
  }
  .menu__inner .heart {
    margin-right: 24px;
  }
  .abaut__inner {
    gap: 53px !important;
  }
  .abaut__title {
    font-size: 32px !important;
  }
  .abaut__item {
    max-width: 295px !important;
  }
  .abaut__item-text {
    font-size: 14px;
  }
  .popular__inner {
    gap: 50px !important;
  }
  .popular__inner .popular__title {
    font-size: 36px;
  }
  .popular__inner .popular__item {
    max-width: 407px;
  }
  .services__inner .services__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .services__inner .services__offer {
    margin-bottom: 50px;
  }
  .services__inner .services__item {
    max-width: 407px;
  }
  .services__inner .services__text {
    font-size: 14px;
  }
  .faq__inner {
    gap: 50px !important;
  }
  .faq__inner .faq__title {
    font-size: 36px;
  }
  .faq__inner .faq__text {
    font-size: 14px;
  }
  .application__inner .application__title {
    font-size: 36px;
  }
  .footer__inner .footer__logos {
    max-width: 183px;
  }
  .footer__inner .footer__catalog-link,
  .footer__inner .footer__privacy-policy,
  .footer__inner .footer__agre,
  .footer__inner .footer__info-link,
  .footer__inner .footer__contacts-tel {
    font-size: 14px;
  }
}
@media (max-width: 1470px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 32px;
    right: 24px;
    z-index: 6;
    width: 29px;
    height: 30px;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger--active {
    top: 28px;
    right: 41px;
  }
  .burger span {
    display: block;
    width: 22px;
    height: 2.5px;
    background-color: #fff;
    border-radius: 3px;
    margin: 6px 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger--active span {
    display: none;
  }
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 22px;
    height: 2.5px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotate(0) translate(0px, 0px);
        -ms-transform: rotate(0) translate(0px, 0px);
            transform: rotate(0) translate(0px, 0px);
  }
  .burger--active::before {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotate(-45deg) translate(-2px, 2px);
        -ms-transform: rotate(-45deg) translate(-2px, 2px);
            transform: rotate(-45deg) translate(-2px, 2px);
  }
  .burger--active::after {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger--scroll::after,
  .burger--scroll::before,
  .burger--scroll span {
    background-color: #000;
  }
  .burger--scrollwhite::before,
  .burger--scrollwhite::after {
    background-color: #fff;
  }
  .burger--scroll {
    top: 25px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.35);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .overlay--active {
    visibility: visible;
    opacity: 1;
  }
  .header__nav {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
  .header__nav-list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #161723;
    z-index: 5;
    max-width: 425px;
    height: 100%;
    padding: 29px 20px 82px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav-list--open {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header__nav-list .header__nav-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav-list .catalog,
  .header__nav-list .heart,
  .header__nav-list .search {
    display: none;
  }
  .header__nav-list .city {
    margin-right: 0 !important;
    margin-bottom: 34px;
  }
  .header__nav-list .info {
    display: block !important;
    padding: 8px 54px 11px 53px;
    border: 1px solid #c0c2d7;
    border-radius: 200px;
    margin-bottom: 12px;
  }
  .header__nav-list .field-service {
    display: block !important;
    padding: 8px 15px 11px;
    border: 1px solid #c0c2d7;
    border-radius: 200px;
    margin-bottom: 12px;
  }
  .header__nav-list .selection {
    display: block !important;
    padding: 9px 83px 10px;
    background: #f4683f;
    border-radius: 200px;
    margin-bottom: 40px;
  }
  .header__nav-list :nth-child(2) {
    gap: 12px !important;
    font-size: 16px;
    color: #c0c2d7;
  }
  .header__nav-list .call {
    margin-top: 80px;
  }
  .header__body .header__main {
    gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__nav {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
  .menu__nav-list {
    display: none;
  }
  .menu__nav-connect {
    margin-right: 15px;
  }
  .menu__nav .call {
    display: block !important;
    margin-right: 15px;
  }
  .menu__nav .call .call-big {
    display: none;
  }
  .menu__nav .call .call-mini {
    position: relative;
    top: 6px;
  }
  .popular__place, .popular__price-subtitle {
    font-size: 18px !important;
  }
  .popular__criteria-text, .popular__price-btn {
    font-size: 14px !important;
  }
}
@media (max-width: 1180px) {
  .header__selection {
    display: none;
  }
  .header__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__caption {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__slider-wrapper {
    left: 30px;
  }
  .header__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .abaut .abaut__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .abaut .abaut__inner .abaut__list {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  }
  .abaut .abaut__inner .abaut__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .popular__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popular__house .popular__list {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }
  .popular__house .popular__list .popular__price-subtitle {
    font-size: 16px !important;
  }
  .services__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__offer .services__list {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  }
  .services__inner .services__item {
    min-width: 325px;
  }
  .faq__inner .faq__title {
    font-size: 30px;
  }
  .faq__link .faq__subtitle {
    font-size: 18px;
  }
  .footer .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-bottom: 57px;
  }
  .footer .footer__inner .footer__logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer .footer__inner .footer__logo .footer__privacy {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .footer .footer__inner .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .footer__catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__catalog .footer__catalog-title--slider {
    cursor: pointer;
    pointer-events: auto;
    margin-bottom: 0;
  }
  .footer__catalog .footer__catalog-list {
    margin-top: 17px;
    display: none;
  }
  .footer__catalog .footer__catalog-list .footer__catalog-item {
    text-align: center;
    margin-bottom: 12px;
  }
  .footer__catalog .footer__catalog-list .footer__catalog-item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .header__nav .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .header__nav .header__nav-connect {
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 23px;
  }
  .header__nav .header__nav-connect .heart,
  .header__nav .header__nav-connect .search {
    display: none;
  }
  .header__nav .header__nav-connect .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }
  .selections {
    display: block !important;
    padding-bottom: 100px;
  }
  .selections__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    line-height: 150%;
    color: #333333;
  }
  .selections__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
  }
  .selections__list {
    display: grid;
    grid-template: repeat(3, auto)/repeat(2, auto);
    row-gap: 22px;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .selections__item {
    max-width: 160px;
    text-align: center;
  }
  .selections__img {
    border-radius: 16px;
    margin-bottom: 10px;
  }
  .selections__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
  }
  .header__slider-wrapper {
    display: none;
  }
  .header .header__caption .header__button-mobil {
    display: block !important;
    font-size: 18px;
    padding: 13px 74px 15px;
    background: #f4683f;
    border-radius: 200px;
    margin-top: 250px;
  }
  .abaut {
    padding: 75px 0 96px !important;
  }
  .abaut .abaut__inner .abaut__list {
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
  }
  .popular {
    padding-bottom: 126px !important;
  }
  .popular__house .popular__list {
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
  }
  .services {
    padding-bottom: 90px !important;
  }
  .services__offer .services__list {
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
  }
  .faq__link .faq__subtitle {
    max-width: 540px;
  }
  .application__inner {
    padding-left: 0 !important;
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(229, 229, 229, 0.1137254902);
}

.container {
  max-width: 1430px;
  padding: 0 50px;
  margin: 0 auto;
}

.no__scrol {
  overflow: hidden;
}

.header {
  height: 950px;
  background: url("../images/header/bg.jpg") no-repeat 100%;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}
.header__top {
  padding: 42px 60px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 62px;
}
.header__logo {
  -ms-flex-item-align: center;
      align-self: center;
}
.header__logo img {
  width: 100%;
}
.header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav-list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav-list :nth-child(2) {
  gap: 30px;
}
.header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav-item .header__nav-link,
.header__nav-item .header__nav-link path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__nav-item .header__nav-link:hover {
  color: #bfbfbf;
}
.header__nav-item .city {
  margin-right: 43px;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}
.header__nav-item .city ::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: -22px;
  width: 18px;
  height: 18px;
  background: url("../images/header/map-locator 1.svg");
}
.header__nav-item .city ::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  right: -22px;
  width: 20px;
  height: 20px;
  background: url("../images/header/menu_black/arrow_down_white.svg");
}
.header__nav-item .catalog {
  padding: 8px 30px 10px;
  border: 1px solid #fff;
  border-radius: 200px;
}
.header__nav-item .catalog:hover {
  color: #fff;
  background: #f4683f;
  border: 1px solid #f4683f;
}
.header__nav-item .field-service,
.header__nav-item .selection,
.header__nav-item .info {
  display: none;
}
.header__nav-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav-connect .heart svg {
  position: relative;
  top: 3px;
}
.header__nav-connect .heart:hover path {
  fill: #bfbfbf;
}
.header__nav-connect .search {
  margin: 0 56px 0 62px;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}
.header__nav-connect .search svg {
  position: absolute;
  left: -32px;
}
.header__nav-connect .search:hover path {
  fill: #bfbfbf;
}
.header__nav-connect .call {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}
.header__nav-connect .call svg {
  position: absolute;
  left: -27px;
}
.header__nav-connect .call:hover path {
  fill: #bfbfbf;
}
.header__nav-connect .header__social {
  display: none;
}
.header__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 280px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 91px;
}
.header .header__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.header .header__caption .header__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 60px;
  line-height: 140%;
  letter-spacing: 0.02em;
  max-width: 680px;
}
.header .header__caption .header__text {
  font-size: 25px;
  max-width: 470px;
}
.header .header__caption .header__text-mobil {
  display: none;
}
.header .header__caption .header__button-mobil {
  display: none;
}
.header .header__slider-wrapper {
  position: relative;
}
.header .header__slider-prev {
  position: absolute;
  top: 15px;
  left: -65px;
  -webkit-transform: translate(50%, 50%) scale(1);
      -ms-transform: translate(50%, 50%) scale(1);
          transform: translate(50%, 50%) scale(1);
}
.header .header__slider-next {
  position: absolute;
  top: 15px;
  right: 25px;
  -webkit-transform: translate(50%, 50%) scale(1);
      -ms-transform: translate(50%, 50%) scale(1);
          transform: translate(50%, 50%) scale(1);
}
.header .header__slider-arrow {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header .header__slider-arrow:hover {
  -webkit-transform: translate(50%, 50%) scale(1.3);
      -ms-transform: translate(50%, 50%) scale(1.3);
          transform: translate(50%, 50%) scale(1.3);
}
.header .header__slider {
  max-width: 620px;
}
.header .header__slider .slick-list {
  margin: 0 -15px;
}
.header .header__slide {
  padding: 0 10px;
}
.header .slide__img {
  position: relative;
  height: 100px;
  overflow: hidden;
}
.header .slide__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .slide__text {
  margin-top: 14px;
  text-align: center;
}
.header .header__selection {
  width: 360px;
  height: 497px;
  background: #fff;
  border-radius: 20px;
  padding: 58px 40px;
  font-size: 16px;
  color: #444;
}
.header .header__selection-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  margin-bottom: 26px;
}
.header .header__selection-check .header__check-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 93px;
  padding-left: 20px;
}
.header .header__selection-check .header__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  background: #ffffff;
  border: 1px solid #c0c2d7;
  border-radius: 200px;
  padding: 12px 0 14px 20px;
}
.header .header__selection-check .header__check .header__check-input {
  max-width: 105px;
}
.header .header__selection-check .header__check span {
  width: 1px;
  height: 36px;
  background: #c0c2d7;
}
.header .header__selection-persons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  margin-bottom: 60px;
}
.header .header__selection-persons .header_persons-subtitle {
  padding-left: 20px;
}
.header .header__selection-persons .header__persons {
  background: #ffffff;
  border: 1px solid #c0c2d7;
  border-radius: 200px;
  padding: 12px 0 14px 20px;
}
.header .header__selection .header__selection-btn {
  color: #fff;
  background: #f4683f;
  border-radius: 200px;
  padding: 10px 114px 13px;
  font-size: 18px;
}
.header__row .header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main {
  font-family: "Montserrat";
  font-weight: 600;
  color: #333;
  line-height: 150%;
}

.abaut {
  padding: 200px 0;
  line-height: 160%;
  position: relative;
}
.abaut__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 73px;
}
.abaut__inner .abaut__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 40px;
  line-height: 150%;
}
.abaut__inner .abaut__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
.abaut__inner .abaut__list .abaut__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 331px;
}
.abaut__bg img {
  position: absolute;
  top: -130px;
  right: -55px;
  z-index: -1;
}

.selections {
  display: none;
}

.popular {
  padding-bottom: 200px;
}

.popular__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.popular__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 40px;
  line-height: 150%;
}

.popular__list {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 40px;
}

.popular__item {
  -webkit-box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
          box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
  border-radius: 20px;
}

.popular_item-images {
  position: relative;
  color: #727488;
}

.popular__img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.popular__people {
  position: absolute;
  top: 24px;
  right: 20px;
  background: #fff;
  border-radius: 150px;
  padding: 10px 11px 10px 36px;
}
.popular__people ::before {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: 13px;
  width: 20px;
  height: 20px;
  background: url("../images/popular/popular_icons/icon_tenants.svg") no-repeat;
}

.popular__like {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 20px rgba(21, 22, 34, 0.2);
          box-shadow: 0px 4px 20px rgba(21, 22, 34, 0.2);
  border-radius: 200px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.popular__like span {
  position: absolute;
  top: 13px;
  left: 12px;
  width: 26px;
  height: 26px;
  background: url("../images/popular/popular_icons/icon_heart_black.svg") no-repeat;
}

.popular__like:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.popular_item-info {
  padding: 30px 30px 40px;
}

.popular__place {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 16px;
}

.popular__criteria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 27px;
}

.popular__criteria-item {
  position: relative;
}

.popular__criteria-img {
  position: absolute;
  top: 0;
  left: 0;
}

.popular__criteria-text {
  padding-left: 35px;
  color: #727488;
}

.popular__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__price-subtitle {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 22px;
}

.popular__price-btn {
  color: #f4683f;
}

.popular__btn {
  margin-top: 14px;
  -ms-flex-item-align: center;
      align-self: center;
}

.btn__catalog {
  font-size: 18px;
  padding: 14px 50px 14px;
  color: #fff;
  background: #f4683f;
  border-radius: 200px;
}

.services {
  padding-bottom: 250px;
  position: relative;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 80px;
}

.services__offer {
  margin-bottom: 60px;
}

.services__list {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 40px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 440px;
  height: 130px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
          box-shadow: 0px 4px 80px rgba(5, 9, 22, 0.08);
  border-radius: 20px;
}

.services__img {
  width: 45px;
  height: 42px;
  margin-left: 50px;
}
.services__img svg {
  width: 100%;
}

.services__text {
  margin-left: 22px;
  font-size: 18px;
}

.services__btn {
  margin-top: 14px;
  -ms-flex-item-align: center;
      align-self: center;
}

.btn__more {
  font-size: 18px;
  padding: 14px 51px 14px;
  color: #fff;
  background: #f4683f;
  border-radius: 200px;
}

.services__bg {
  position: absolute;
  top: -150px;
  right: 0px;
  z-index: -1;
}

.faq {
  padding-bottom: 250px;
}

.faq__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.faq__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 40px;
}

.faq__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  padding-top: 28px;
  border-top: 1px solid #c0c2d7;
}

.faq__item {
  border-bottom: 1px solid #c0c2d7;
}
.faq__item .faq__link {
  position: relative;
}
.faq__item .faq__plus {
  width: 14px;
  height: 2px;
  background-color: #333;
  position: absolute;
  top: 11px;
  right: 18px;
}
.faq__item .faq__plus::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 2px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #333;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.faq__item .faq__plus::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 7px;
  width: 50px;
  height: 50px;
  background: #eeeeee;
  border-radius: 200px;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}
.faq__item .faq__link:hover .faq__plus::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.faq__link--active .faq__plus::before {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.faq__subtitle {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 22px;
  padding-bottom: 29px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.faq__link--active .faq__subtitle {
  padding-bottom: 0;
}

.faq__text {
  max-width: 1280px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #000;
  margin-top: 17px;
  padding-bottom: 50px;
}

.application {
  padding: 233px 0 294px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 23, 35, 0)), color-stop(81.42%, #161723)), url("../images/footer/bg_photo.jpg") no-repeat;
  background: -o-linear-gradient(top, rgba(22, 23, 35, 0) 0%, #161723 81.42%), url("../images/footer/bg_photo.jpg") no-repeat;
  background: linear-gradient(180deg, rgba(22, 23, 35, 0) 0%, #161723 81.42%), url("../images/footer/bg_photo.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.application__inner {
  max-width: 493px;
  padding-left: 120px;
}

.application__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.application__text {
  font-size: 18px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 60px;
}

.application__btn {
  padding: 13px 51px;
  color: #fff;
  background: #f4683f;
  border-radius: 200px;
  font-size: 18px;
}

.footer {
  padding: 78px 0 72px;
  background: -webkit-gradient(linear, left top, left bottom, from(#161723), color-stop(109.24%, #161723));
  background: -o-linear-gradient(top, #161723 0%, #161723 109.24%);
  background: linear-gradient(180deg, #161723 0%, #161723 109.24%);
  font-family: "Montserrat";
  font-weight: 600;
  color: #c0c2d7;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logos {
  max-width: 280px;
}
.footer__logos img {
  width: 100%;
}

.footer__privacy {
  font-weight: 500;
  font-size: 14px;
  color: #404256;
}

.footer__privacy-policy {
  margin-bottom: 4px;
}

.footer__catalog-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 22px;
  color: #fff;
  margin-bottom: 17px;
  pointer-events: none;
}

.footer__catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  line-height: 20px;
}

.footer__catalog-link {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__catalog-link:hover {
  color: #fff;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  line-height: 20px;
}

.footer__info-link {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__info-link:hover {
  color: #fff;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer__contacts-tel {
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__contacts-tel svg {
  position: absolute;
  top: -3px;
  left: -30px;
}

.footer__contacts-tel:hover path,
.footer__contacts-tel:hover {
  fill: #fff;
  color: #fff;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup--active {
  visibility: visible;
}

.popup__body {
  padding: 82px 60px 80px;
  max-width: 550px;
  background: #ffffff;
  border-radius: 20px;
  position: relative;
}

.popup__body--applic {
  max-width: 500px;
  padding: 80px 96px 97px 90px;
}

.popup__body--confirming {
  padding: 80px 46px 97px 60px;
}

.popup__body--search {
  min-width: 1000px;
  padding: 45px 60px;
}

.popup__close {
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: -36px;
  right: 0;
}

.popup__close::after,
.popup__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__close::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close:hover::after,
.popup__close:hover::before {
  background-color: #938d8d;
}

.servic__inner {
  display: none;
}

.servic__inner--active {
  display: block;
}

.popup__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 20px;
}

.popup__text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  margin-bottom: 60px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.form__input {
  padding: 14px 0 14px 20px;
  background: #ffffff;
  border: 1px solid #c0c2d7;
  border-radius: 250px;
}

.form__button {
  white-space: nowrap;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  padding: 12px 136px;
  color: #fff;
  background: #f4683f;
  border-radius: 110px;
}

.popup__confirming {
  display: none;
}

.popup__confirming--active {
  display: block;
}

.popup__confirming-text {
  margin-bottom: 200px;
}

.popup__confirming-btn {
  padding: 11px 50px;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  background: #f4683f;
  border-radius: 110px;
}

.applic__inner {
  display: none;
}

.applic__inner--active {
  display: block;
}

.applic__title {
  margin-bottom: 58px;
}

.form {
  position: relative;
}

.applic__btn {
  padding: 12px 0;
}

.tooltip {
  position: absolute;
  bottom: 178px;
  right: 60px;
  width: 28px;
  height: 28px;
}

.tooltip__toggle {
  border: none;
  width: 28px;
  height: 28px;
  background: #c0c2d7;
  border-radius: 100px;
  position: relative;
}
.tooltip__toggle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tooltip__toggle:hover {
  background: #92939e;
}

.tooltip__text {
  display: none;
  position: absolute;
  top: -100%;
  left: 50%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  min-width: 320px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  z-index: 15;
  color: #ffffff;
  background: #c4c4c4;
  border-radius: 16px 16px 16px 0px;
  padding: 20px 34px 28px 20px;
}

.tooltip__text::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 8.4px;
  border-style: solid;
  border-color: #c4c4c4 transparent transparent transparent;
  border-width: 20px;
  -webkit-transform: rotate(135deg) translate(50%, 50%);
      -ms-transform: rotate(135deg) translate(50%, 50%);
          transform: rotate(135deg) translate(50%, 50%);
}

.tooltip__toggle:hover + .tooltip__text,
.tooltip__toggle:focus + .tooltip__text {
  display: block;
}

.search__inner {
  display: none;
}

.search__inner--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search__inner--active ::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #c0c2d7;
}
.search__inner--active ::-moz-placeholder {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #c0c2d7;
}
.search__inner--active :-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #c0c2d7;
}
.search__inner--active ::-ms-input-placeholder {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #c0c2d7;
}
.search__inner--active ::placeholder {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #c0c2d7;
}

.search__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 690px;
  border-bottom: 1px solid #c0c2d7;
}
.search__row svg {
  position: relative;
  top: 10px;
}

.search__input {
  margin-left: 10px;
  width: 100%;
}

.search__button {
  padding: 12px 60px;
  color: #fff;
  background: #f4683f;
  border-radius: 200px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}