@font-face {
  font-family: "TTFirsNeue";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("TT Firs Neue"), url("../fonts/TTFirsNeue-Medium.woff2") format("woff2"), url("../fonts/TTFirsNeue-Medium.woff") format("woff"), url("../fonts/TTFirsNeue-Medium.eot") format("eot");
}
html, body {
  font-family: TTFirsNeue, sans-serif;
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.footer .footer__body .footer__body-inner .footer__body-content .footer__btn, .countries__inner .countries__column .countries__content .countries__btn-box .countries__btn, .step__inner .step__header .step__btn, .header .header__body .header__main .header__main-content .header__button, .header__top-inner .header__btn-box .header__btn {
  color: #fff;
  background: #3E8BF3;
  border-radius: 8px;
}

.footer .footer__body .footer__body-inner .footer__body-content .footer__btn:hover, .countries__inner .countries__column .countries__content .countries__btn-box .countries__btn:hover, .step__inner .step__header .step__btn:hover, .header .header__body .header__main .header__main-content .header__button:hover, .header__top-inner .header__btn-box .header__btn:hover {
  background: #3474CA;
}

.footer .footer__body .footer__body-inner .footer__body-content .footer__btn:active, .countries__inner .countries__column .countries__content .countries__btn-box .countries__btn:active, .step__inner .step__header .step__btn:active, .header .header__body .header__main .header__main-content .header__button:active, .header__top-inner .header__btn-box .header__btn:active {
  background: #295DA2;
}

.countries__inner .countries__column .countries__content .countries__btn-box :last-child {
  color: #6F767E;
  background: #F5F9FE;
  border-radius: 8px;
}

.countries__inner .countries__column .countries__content .countries__btn-box :hover:last-child {
  color: #000;
  background: #E3EEFD;
}

.countries__inner .countries__column .countries__content .countries__btn-box :active:last-child {
  color: #000;
  background: #BFD8FB;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1255px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main__about {
  padding-top: 120px;
}

.main__steps {
  padding-top: 120px;
}

.main__countries {
  padding-top: 120px;
}

.main__faq {
  padding-top: 120px;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 24px;
  line-height: 150%;
}
.header__top-inner .logo {
  margin-right: 24px;
}
.header__top-inner span {
  width: 1px;
  height: 48px;
  background: #d9d9d9;
}
.header__top-inner .header__nav {
  margin: 0 auto 0 24px;
}
.header__top-inner .header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top-inner .header__nav .header__nav-list .header__content {
  margin-right: 40px;
}
.header__top-inner .header__nav .header__nav-list .header__content :last-child {
  margin-right: 0;
}
.header__top-inner .header__nav .header__nav-list .header__content .header__link:hover {
  padding-bottom: 32px;
  color: #3e8bf3;
  border-bottom: 2px solid #3e8bf3;
}
.header__top-inner .header__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}
.header__top-inner .header__btn-box .header__drop-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 48px;
}
.header__top-inner .header__btn-box .header__drop-box span {
  background-color: transparent;
}
.header__top-inner .header__btn-box .header__drop-box .dropdown-btn {
  position: relative;
}
.header__top-inner .header__btn-box .header__drop-box .dropdown-btn :hover {
  color: #3e8bf3;
}
.header__top-inner .header__btn-box .header__drop-box .dropdown-btn ::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: -28px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/flags/flag-russia.svg") 0 0/100% no-repeat;
}
.header__top-inner .header__btn-box .header__drop-box .dropdown-btn ::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: -24px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("../images/icon/header-check.svg") 0 0/100% no-repeat;
}
.header__top-inner .header__btn-box .header__drop-box .dropdown-container {
  display: block;
  position: absolute;
  top: 250%;
  left: -70%;
  width: 140px;
  height: 111 px;
  padding: 8px;
  border-radius: 16px;
  background: #fff;
  z-index: 1;
}
.header__top-inner .header__btn-box .header__drop-box .dropdown-container .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
}
.header__top-inner .header__btn-box .header__drop-box .dropdown-container .dropdown-content .dropdown-item {
  width: 100%;
  padding: 8px 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__top-inner .header__btn-box .header__drop-box .dropdown-container .dropdown-content .dropdown-item .dropdown__link svg {
  position: relative;
  top: 0;
  -webkit-transform: translateY(23%);
      -ms-transform: translateY(23%);
          transform: translateY(23%);
}
.header__top-inner .header__btn-box .header__drop-box .dropdown-container .dropdown-content .dropdown-item:hover {
  background: #f5f9fe;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__top-inner .header__btn-box .header__btn {
  line-height: 150%;
  padding: 12px 16px;
}
.header .header__body {
  width: 100%;
  background: #f5f9fe;
  margin-bottom: 15px;
}
.header .header__body .header__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 75px 24px 24px 24px;
}
.header .header__body .header__main {
  margin-bottom: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__body .header__main .header__main-content {
  margin-right: 24px;
}
.header .header__body .header__main .header__main-content .header__title {
  font-size: 64px;
  line-height: 112%;
  margin-bottom: 32px;
}
.header .header__body .header__main .header__main-content .header__button {
  font-size: 20px;
  line-height: 160%;
  padding: 16px 24px;
}
.header .header__body .header__main .header__main-content .header__text {
  margin: 32px 0 0 32px;
  line-height: 150%;
  color: #6f767e;
  position: relative;
}
.header .header__body .header__main .header__main-content .header__text ::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -32px;
  width: 24px;
  height: 24px;
  background: url("../images/ClipboardText.svg") 0 0/100% no-repeat;
}
.header .header__body .header__main .header__image {
  max-width: 600px;
}
.header .header__body .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #6f767e;
  line-height: 133%;
}
.header .header__body .header__row .header__bottom-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__body .header__row .header__bottom-scroll span {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 16px;
  background-color: #fff;
  border-radius: 50%;
}
.header .header__body .header__row .header__bottom-scroll svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}
.header .header__body .header__row .header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__body .header__row .header__social .header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
}
.header .header__body .header__row .header__social .header__social-list .header__social-content {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 16px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.header .header__body .header__row .header__social .header__social-list .header__social-content .header__social-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header .header__body .header__row .header__social .header__social-list .header__social-content:hover {
  background-color: #3e8bf3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header .header__body .header__row .header__social .header__social-list .header__social-content:hover path,
.header .header__body .header__row .header__social .header__social-list .header__social-content:active path {
  fill: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header .header__body .header__row .header__social .header__social-list .header__social-content:active {
  background-color: #295da2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header .header__body .header__row .header__social .header__social-list .header__social-content:last-child {
  margin-right: 0;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 178px;
  padding-bottom: 120px;
  border-bottom: 1px solid #d9d9d9;
}
.about__inner .about__content .about__title {
  font-size: 48px;
  line-height: 117%;
}
.about__inner .about__content .about__text {
  font-size: 18px;
  line-height: 178%;
  color: #6f767e;
}
.about__inner .about__content:last-child {
  max-width: 500px;
}

.step__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
  padding-bottom: 120px;
  border-bottom: 1px solid #d9d9d9;
}
.step__inner .step__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 600px;
}
.step__inner .step__header .step__title {
  max-width: 450px;
  font-size: 48px;
  line-height: 117%;
}
.step__inner .step__header .step__btn {
  font-size: 18px;
  line-height: 178%;
  padding: 12px 24px;
}
.step__inner .step__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.step__inner .step__body .step__body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}
.step__inner .step__body .step__body-content img {
  width: 100%;
}
.step__inner .step__body .step__body-content .step__body-number {
  padding: 4px 16px;
  line-height: 150%;
  background-color: #dfd3f7;
  border-radius: 24px;
}
.step__inner .step__body .step__body-content .step__body-title {
  font-size: 24px;
  line-height: 133%;
}
.step__inner .step__body .step__body-content .step__body-text {
  line-height: 150%;
  color: #6f767e;
}
.step__inner .step__body :nth-child(2) .step__body-number {
  background-color: #c0e1ee;
}
.step__inner .step__body :nth-child(3) .step__body-number {
  background-color: #d0e5c2;
}

.countries__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 120px;
  border-bottom: 1px solid #d9d9d9;
}
.countries__inner .countries__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 64px;
  z-index: 1;
}
.countries__inner .countries__column .countries__menu {
  background: #f5f9fe;
  border-radius: 16px;
}
.countries__inner .countries__column .countries__menu .countries__list {
  margin: 8px;
}
.countries__inner .countries__column .countries__menu .countries__list .countries__item {
  display: block;
  position: relative;
  margin-bottom: 8px;
}
.countries__inner .countries__column .countries__menu .countries__list .countries__item .countries__button {
  background: none;
  border-radius: 8px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.countries__inner .countries__column .countries__menu .countries__list .countries__item :hover {
  background: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.countries__inner .countries__column .countries__menu .countries__list .countries__item :last-child {
  margin-bottom: 0;
}
.countries__inner .countries__column .countries__menu .countries__list .russia .countries__button {
  padding: 8px 41px 8px 44px;
  background: #fff;
}
.countries__inner .countries__column .countries__menu .countries__list .russia ::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/flags/flag-russia.svg") 0 0/100% no-repeat;
}
.countries__inner .countries__column .countries__menu .countries__list .ukraine .countries__button {
  padding: 8px 32.8px 8px 44px;
}
.countries__inner .countries__column .countries__menu .countries__list .ukraine ::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/flags/flag-ukraine.svg") 0 0/100% no-repeat;
}
.countries__inner .countries__column .countries__menu .countries__list .turkey .countries__button {
  padding: 8px 41px 8px 44px;
}
.countries__inner .countries__column .countries__menu .countries__list .turkey ::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/flags/flag-turkey.svg") 0 0/100% no-repeat;
}
.countries__inner .countries__column .countries__menu .countries__list .kazakhstan .countries__button {
  padding: 8px 20px 8px 44px;
}
.countries__inner .countries__column .countries__menu .countries__list .kazakhstan ::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/flags/flag-kazakhstan.svg") 0 0/100% no-repeat;
}
.countries__inner .countries__column .countries__menu .countries__list .belarus .countries__button {
  padding: 8px 26px 8px 44px;
}
.countries__inner .countries__column .countries__menu .countries__list .belarus ::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/flags/flag-belarus.svg") 0 0/100% no-repeat;
}
.countries__inner .countries__column .countries__content {
  max-width: 452px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  z-index: 1;
}
.countries__inner .countries__column .countries__content .countries__title {
  font-size: 48px;
  line-height: 117%;
}
.countries__inner .countries__column .countries__content .countries__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}
.countries__inner .countries__column .countries__content .countries__btn-box .countries__btn {
  padding: 12px 24px;
  font-size: 18px;
  line-height: 178%;
}
.countries__inner .countries__map {
  position: absolute;
  top: 0;
  left: 18%;
}

.faq__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  padding-bottom: 120px;
}
.faq__inner .faq__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.faq__inner .faq__heading .faq__heading-title {
  font-size: 48px;
  line-height: 117%;
}
.faq__inner .faq__heading .faq__heading-text {
  max-width: 200px;
  line-height: 150%;
  color: #6f767e;
}
.faq__inner .faq__acc {
  max-width: 800px;
}
.faq__inner .faq__acc .faq__acc-item {
  padding: 24px;
  border-bottom: 1px solid #d9d9d9;
}
.faq__inner .faq__acc .faq__acc-item .faq__acc-link .faq__acc-head {
  padding-right: 163px;
  white-space: nowrap;
  font-size: 24px;
  line-height: 133%;
  position: relative;
}
.faq__inner .faq__acc .faq__acc-item .faq__acc-link .faq__acc-head ::before,
.faq__inner .faq__acc .faq__acc-item .faq__acc-link .faq__acc-head ::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 18px;
  height: 2px;
  background-color: #6f767e;
  border-radius: 2px;
}
.faq__inner .faq__acc .faq__acc-item .faq__acc-link .faq__acc-head ::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.faq__inner .faq__acc .faq__acc-item .faq__acc-link .faq__acc-text {
  margin-top: 24px;
  line-height: 150%;
  color: #6f767e;
}
.faq__inner .faq__acc .faq__acc-item .faq__acc-link--active .faq__acc-head ::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.faq__inner .faq__acc :hover {
  background: #f5f9fe;
}
.faq__inner .faq__acc .faq__acc-item:first-child {
  border-top: 1px solid #d9d9d9;
}

.footer .footer__body {
  background: #f5f9fe;
}
.footer .footer__body .footer__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.footer .footer__body .footer__body-inner .footer__body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  margin: 96px 0;
  max-width: 550px;
}
.footer .footer__body .footer__body-inner .footer__body-content .footer__title {
  font-size: 48px;
  line-height: 117%;
}
.footer .footer__body .footer__body-inner .footer__body-content .footer__text {
  font-size: 18px;
  line-height: 178%;
  color: #6f767e;
}
.footer .footer__body .footer__body-inner .footer__body-content .footer__btn {
  padding: 12px 24px;
  font-size: 18px;
  line-height: 178%;
}
.footer .footer__body .footer__body-inner img {
  position: absolute;
  top: -14.6%;
  left: 50%;
}
.footer .footer__bottom {
  padding: 64px 0;
  font-size: 12px;
  line-height: 133%;
  color: #6F767E;
  white-space: nowrap;
}
.footer .footer__bottom .footer__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__bottom .footer__bottom-inner .footer__link .footer__use {
  margin-right: 32px;
}
.footer .footer__bottom .footer__bottom-inner .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__bottom .footer__bottom-inner .footer__social .footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
}
.footer .footer__bottom .footer__bottom-inner .footer__social .footer__social-list .footer__social-content {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 16px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.footer .footer__bottom .footer__bottom-inner .footer__social .footer__social-list .footer__social-content .footer__social-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.footer .footer__bottom .footer__bottom-inner .footer__social .footer__social-list .footer__social-content:hover {
  background-color: #3e8bf3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .footer__bottom .footer__bottom-inner .footer__social .footer__social-list .footer__social-content:hover path,
.footer .footer__bottom .footer__bottom-inner .footer__social .footer__social-list .footer__social-content:active path {
  fill: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .footer__bottom .footer__bottom-inner .footer__social .footer__social-list .footer__social-content:active {
  background-color: #295da2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .footer__bottom .footer__bottom-inner .footer__social .footer__social-list .footer__social-content:last-child {
  margin-right: 0;
}