.header {
  padding: 25px;
  height: 100%;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 0 10px #656363;
}

.menu__item {
  font-size: 3em;
  padding: 5px;
}

.menu__item:first-child:hover {
  color: red;
}

.menu__item:not(:last-child) {
  border-bottom: 1px solid #656363;
}
