.wrapper {
  padding: 100px 15px;
  height: 100vh;
}

.block {
  height: 100px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 50%;
  background-color: rgb(235, 118, 118);
}


